# Copied from https://kubernetes.io/docs/concepts/workloads/controllers/deployment/
# Extended with https://www.youtube.com/watch?v=DMpEZEakYVc&list=PLHq1uqvAteVvUEdqaBeMK2awVThNujwMd&index=3

apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment # custom defined name
  labels:
    app: nginx # Refer to 1. Labels
spec:
  replicas: 3 # min number of instance running at any given time
  strategy: # Refer to 2. Strategy
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: nginx # Refer to 1. Labels
  template:
    metadata:
      labels:
        app: nginx # Refer to 1. Labels
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2 # app's base image
        ports:
        - containerPort: 80 # exposed port
        livenessProbe: # Refer to 3. Liveness
          httpGet:
            path: /status
            port: 5000
          initialDelaySeconds: 3
          periodSeconds: 3

# 1. Labels
# These are like custom tags. It's how pods are found. Kinda like css classes
# As long as the pods' labels are the same, it'll be considered to belong to
# this deployment

# 2. Strategy
# This specifies how instances should be replaced/updated
# other options includes "Recreate", which meant all instances all kill, and re-created. Instead of one-by-one
# Read more at https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy

# 3. Liveness
# Essentially healthcheck. 
# path = healthcheck endpoint
# initialDelaySeconds, wait x seconds before starting first ping
# periodSeconds, seconds interval between pings
# Read more at https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-http-request
